
<div class="bg-white">
	<h1 align="center">Listing all recipes</h1>
	<hr class="mb-0">
	<% @recipes.each do |recipe| %>
	  <div class="row">
	    <div class="col-md-2">
	      <section class="center">
	        
	      </section>
	    </div>
	    <div class="col-md-8 bg-light py-4 px-5 rounded border mt-5">
	      <h4><%= recipe.name %></h4>
	      <p><%= truncate(recipe.description, length: 150) %></p>
	      <p>
	        <span class="quiet"><small>Created 
	        <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
	      </p> 
	    </div>
	  </div>
	<%end%>
</div>


<div class="row bg-white  px-0 w-100 m-0 mb-5">
	<div class="col-md-12 px-0">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  </ol>
			<div class="carousel-inner" >
			    <div class="carousel-item active" data-interval="5000">
			    	<div class="desktop d-md-block d-none">
				       <div class="img1 d-md-block d-none"></div>
				      	<div class="d-flex  carousel-caption  h-100 w-100 align-items-center ">
				      		<div class="col w-58">
				                <h1 class="freshtext">Hot& Deals</h1>
				                <h3 class=" anmi">Free Delivery By Lahori Deria On Your First Order</h3>

				                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4 ">ORDER NOW</button>
				                <h3 class="callus text-white"> Call us : 044-4367748748</h3>
		                	</div>
		            	</div>
		            </div>
	            <div class="mobile d-md-none d-block w-100">
	            	<%= image_tag"bgred.png", class: "d-md-none d-block w-100 h-608"%>
				    <div class="d-flex  carousel-caption  h-100 w-100 m-0 align-items-center ">
				      	<div class="col w-100">
			                <h1 class="freshtextmob2">Hot& Dealst</h1>
			                <h5 class=" anmi" >Free Delivery By Lahori Deria On Your First Order</h5>
			                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4">ORDER NOW</button>
			                <h3 class="callus text-white"> Call us : 044-4367748748</h3>
			              <!--   <%= image_tag"leave.png", class: "leave"%>
			                 <%= image_tag"potato.png", class: "leaver"%>
			                 <%= image_tag"smallleav.png", class: "leaver1"%> -->
		                </div>
		            </div>
			    </div>
			</div>

			<!-- Extra code partial -->
		  <div class="carousel-item" data-interval="5000">
		    	 	<div class="desktop d-md-block d-none">
				     <div class="img2 d-md-block d-none"></div>
				      	<div class="d-flex  carousel-caption  h-100 w-100 align-items-center ">
				      		<div class="col w-58">
				                <h1 class="freshtext"> Take A Delicious Bite</h1>
				                <h3 class=" anmi">Buy 2 large size piza only in 10$</h3>
				                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4 ">ORDER NOW</button>
				                <h3 class="callus text-white"> Call us : 044-4367748748</h3>
		                	</div>
		            	</div>
		            </div>
	            <div class="mobile d-md-none d-block">
	            	<%= image_tag"slider2.png", class: "d-md-none d-block w-100 h-608"%>
				    <div class="d-flex  carousel-caption  h-100 w-100 m-0 align-items-center ">
				      	<div class="col w-100">
			                <h1 class="freshtextmob">Bite Me Now</h1>
			                <h5 class=" anmi" >Free Delivery  On Your First Order</h5>
			                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4 ">ORDER NOW</button>
			                <h3 class="callus text-white"> Call us : 044-4367748748</h3>
			               <!--  <%= image_tag"leave.png", class: "leave"%>
			                 <%= image_tag"potato.png", class: "leaver"%>
			                 <%= image_tag"smallleav.png", class: "leaver1"%> -->
		                </div>
		            </div>
			    </div> 
		    </div>
		    </div>
		 <!-- Extra code partial -->
		  <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only d-md-block d-non">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only d-md-block d-non">Next</span>
		  </a>
		</div>
	</div>
	<!-- slider completed -->

	<!-- deals pack -->
	<div class="row justify-content-center w-100 my-4 no-gutters">
		<h1 class="hot">Top Deals For You!</h1>
	</div>
	<div class="row no-gutter mt-md-5 mt-2">
		<div class="col-md-3 text-center">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal1.jpg", class: " w-268 mb-3" )%>
				<h5>Attribute Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal2.jpg", class: " mb-3 w-268" )%>
				<h5>Combo Offer</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal3.jpg", class: " mb-3 w-268" )%>
				<h5>Fried Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal4.jpg", class: " mb-3 w-268" )%>
				<h5>Mexican Pie</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div>
	<div class="row no-gutter mt-md-5">
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal5.jpg", class: " mb-3 w-268" )%>
				<h5>Attribute Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal6.jpg", class: " mb-3 w-268" )%>
				<h5>Mexican Pie</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal7.jpg", class: " mb-3 w-268" )%>
				<h5>Attribute Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal8.jpg", class: " mb-3 w-268" )%>
				<h5>Combo Offer</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div>
	<div class="row no-gutter mt-5">
		<div class="col-md-3 text-center">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal11.jpg", class: " w-268 mb-3" )%>
				<h5>Ginimi Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal12.jpg", class: " mb-3 w-268" )%>
				<h5>Combo Offer</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal13.jpg", class: " mb-3 w-268" )%>
				<h5>Topmer</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal17.jpg", class: " mb-3 w-268" )%>
				<h5>Apricot Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div>
	<div class="row no-gutter mt-md-5">
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal16.jpg", class: " mb-3 w-268" )%>
				<h5>Attribute Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal17.jpg", class: " mb-3 w-268" )%>
				<h5>Apricot Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal18.jpg", class: " mb-3 w-268" )%>
				<h5>Chicken karuh</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal19.jpg", class: " mb-3 w-268" )%>
				<h5> Variation dime</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div><div class="row no-gutter mt-5">
		<div class="col-md-3 text-center">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal20.jpg", class: " w-268 mb-3" )%>
				<h5>Attribute Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal21.jpg", class: " mb-3 w-268" )%>
				<h5>Apricot Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal22.jpg", class: " mb-3 w-268" )%>
				<h5>Sentiam Bug</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal23.jpg", class: " mb-3 w-268" )%>
				<h5>Chicken Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div>
	<div class="row no-gutter mt-md-5">
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal12.jpg", class: " mb-3 w-268" )%>
				<h5>Attribute Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal16.jpg", class: " mb-3 w-268" )%>
				<h5>Apricot Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal7.jpg", class: " mb-3 w-268" )%>
				<h5>Apricot Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal19.jpg", class: " mb-3 w-268" )%>
				<h5>Burger rimer</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div><div class="row no-gutter mt-5">
		<div class="col-md-3 text-center">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal1.jpg", class: " w-268 mb-3" )%>
				<h5>Cheese Rime</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal5.jpg", class: " mb-3 w-268" )%>
				<h5>Apricot Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal3.jpg", class: " mb-3 w-268" )%>
				<h5>Pizer cime</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal11.jpg", class: " mb-3 w-268" )%>
				<h5>Apricot Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div>
	<div class="row no-gutter mt-md-5  pb-5">
		<div class="col-md-3 text-center mt-5 mt-md-0 ">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal4.jpg", class: " mb-3 w-268" )%>
				<h5>Attribute Variation</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal6.jpg", class: " mb-3 w-268" )%>
				<h5>sinme Ringer</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal20.jpg", class: " mb-3 w-268" )%>
				<h5>Special Taster</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal8.jpg", class: " mb-3 w-268" )%>
				<h5>Pizza sdam</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">$2.35-$5.23</p>
			</div>
		</div>
	</div>
</div>
<!-- deals pak -->
<%= render 'layouts/footer' %> 