<div class="bg-white pb-4">
<h1 class="hot text-center">Our Best Customers!</h1>
</div>
<div class="gallery" id="gallery">
  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    
    <%= image_tag"pic13.jpeg" , class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
 <%= image_tag"pic10.jpeg", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <%= image_tag"pic11.jpeg", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic4.jpeg", class: "img-fluid"%> 
    </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic 5.jpeg", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
       <%= image_tag"pic6.jpeg", class: "img-fluid"%>
  </div>
</div>
<div class="gallery mb-md-5" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    
    <%= image_tag"pic14.jpeg", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
 <%= image_tag"pic15.jpeg", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <%= image_tag"pic16.jpeg", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic17.jpeg", class: "img-fluid"%> 
    </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic4.jpeg", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
       <%= image_tag"pic18.jpeg", class: "img-fluid"%>
  </div>
</div>
<%= render 'layouts/footer' %>
