<div class="bg-white pb-4">
<h1 class="hot text-center">Our Best Customers!</h1>
</div>
<div class="gallery" id="gallery">
  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic13-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
 <%= image_tag"pic10-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <%= image_tag"pic11-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic4-min.png", class: "img-fluid"%> 
    </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic 5-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
       <%= image_tag"pic6-min.png", class: "img-fluid"%>
  </div>
</div>
<div class="gallery mb-md-5" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    
    <%= image_tag"pic14-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
 <%= image_tag"pic15-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <%= image_tag"pic16-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic17-min.png", class: "img-fluid"%> 
    </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic4-min.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
       <%= image_tag"pic18-min.png", class: "img-fluid"%>
  </div>
</div>
<%= render 'layouts/footer' %>
