<div class="bg-white pb-4">
<h1 class="hot text-center">Our Best Customers!</h1>
</div>
<div class="gallery" id="gallery">
  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic13.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
 <%= image_tag"pic10.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <%= image_tag"pic11.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic4.png", class: "img-fluid"%> 
    </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic 5.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
       <%= image_tag"pic6.png", class: "img-fluid"%>
  </div>
</div>
<div class="gallery mb-md-5" id="gallery">

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
    
    <%= image_tag"pic14.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
 <%= image_tag"pic15.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
    <%= image_tag"pic16.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic17.png", class: "img-fluid"%> 
    </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 2">
   <%= image_tag"pic4.png", class: "img-fluid"%>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="mb-3 pics animation all 1">
       <%= image_tag"pic18.png", class: "img-fluid"%>
  </div>
</div>
<%= render 'layouts/footer' %>
