<!-- <slider 2 -->
<div class="row bg-white  px-0 w-100 m-0">
	<div class="col-md-12 px-0">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  </ol>
			<div class="carousel-inner" >
			    <div class="carousel-item active" data-interval="5000">
			    	<div class="desktop d-md-block d-none">
				      <%= image_tag"ban1.png", class: "d-md-block d-none w-100"%>
				      	<div class="d-flex  carousel-caption  h-100 w-100 align-items-center ">
				      		<div class="col w-58">
				                <h1 class="freshtext">Fresh & Hot</h1>
				                <h3 class=" anmi">Free Delivery By Deira Lahore On Your First Order</h3>

				                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4 ">ORDER NOW</button>
				                <h3 class="callus text-white"> Call us : 0141-423-0443</h3>
		                	</div>
		            	</div>
		            </div>
	            <div class="mobile d-md-none d-block w-100">
	            	<%= image_tag"slider2.png", class: "d-md-none d-block w-100 h-608"%>
				    <div class="d-flex  carousel-caption  h-100 w-100 m-0 align-items-center ">
				      	<div class="col w-100">
			                <h1 class="freshtextmob">Fresh & Hot</h1>
			                <h5 class=" anmi" >Free Delivery By Deira Lahore On Your First Order</h5>
			                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4">ORDER NOW</button>
			                <h3 class="callus text-white"> Call us : 0141-423-0443</h3>
			                <%= image_tag"leave.png", class: "leave"%>
			                 <%= image_tag"potato.png", class: "leaver"%>
			                 <%= image_tag"smallleav.png", class: "leaver1"%>
		                </div>
		            </div>
			    </div>
			</div>

			<!-- Extra code partial -->
		    <div class="carousel-item" data-interval="5000">
		    	 	<div class="desktop d-md-block d-none">
				       <%= image_tag"slider1.png", class: "d-md-block d-none w-100"%>
				      	<div class="d-flex  carousel-caption  h-100 w-58 align-items-center ">
				      		<div class="col w-58">
				                <h1 class="freshtext"> Take A Delicious Bite</h1>
				                <h3 class=" anmi">Buy 2 large size piza only in 10$</h3>
				                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4 ">ORDER NOW</button>
				                <h3 class="callus text-white"> Call us : 0141-423-0443</h3>
		                	</div>
		            	</div>
		            </div>
	            <div class="mobile d-md-none d-block">
	            	<%= image_tag"slider2.png", class: "d-md-none d-block w-100 h-608"%>
				    <div class="d-flex  carousel-caption  h-100 w-100 m-0 align-items-center ">
				      	<div class="col w-100">
			                <h1 class="freshtextmob">Bite Me Now</h1>
			                <h5 class=" anmi" style="animation-delay: 2s">Free Delivery  On Your First Order</h5>
			                <button type="button" class="btn btnborder  btn-outline-light px-5 py-3 mt-4 mb-4 ">ORDER NOW</button>
			                <h3 class="callus text-white"> Call us : 0141-423-0443</h3>
			                <%= image_tag"leave.png", class: "leave"%>
			                 <%= image_tag"potato.png", class: "leaver"%>
			                 <%= image_tag"smallleav.png", class: "leaver1"%>
		                </div>
		            </div>
			    </div>
		    </div>
		    <!-- Extra code partial -->

		    </div>
		  <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only d-md-block d-non">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only d-md-block d-non">Next</span>
		  </a>
		</div>
	</div>
</div>
<!-- slider 2 completed -->

<!-- whole page -->
<div class=" bg-white pt-5 mx-md-5 pb-5 mb-5">
	<div class="bgbox row  w-85 mx-auto">
		<div class="col-md-4 text-center p-5">
			<%= image_tag"icon1.png", class: "iconani"%>
			<h3 class="icon1con font-weight-bold">Choose</h3>
			<p class="m-1 text-muted">Browse hundreds of menus to find the food you like</p>
		</div>
		<div class="col-md-4 text-center p-5">
			<%= image_tag"icon1.png", class: "iconani"%>
			<h3 class="icon1con font-weight-bold">Pay</h3>
			<p class="m-1 text-muted">Pay fast & secure online or on delivery</p>
		</div>
		<div class="col-md-4 text-center p-5">
			<%= image_tag"icon1.png", class: "iconani"%>
			<h3 class="icon1con  font-weight-bold">Enjoy</h3>
			<p class="m-1 text-muted">Food is prepared & delivered to your door</p>
		</div>
	</div>
	<div class="flex-column">
		<div class="row mt-5 no-gutters position-relative ">
			<div class="col-md-6 text-center">
				<%= image_tag"desi4r.png", class: "fodbox w-85"%>
			</div>
			<div class="col-md-6 pt-5 px-4">
				<div>
					<h5 class="offer mb-0">WE OFFER</h5>
				</div>
				<div >
					<h1 class="freed font-weight-bold mt-0">Free <span> Delivery!</span></h1>
				</div>
				<div class="w-72 ">
					<h6 class="para text-muted">Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn nuts salsify bunya pie sprout coriander water.</h6>
				</div>
				<button type="button" class="btn btnborder  btn-success px-md-5 px-2 py-3 mt-5 w-51  mb-4 ">ORDER NOW : 0141-423-0443</button>
			</div>
			<%= image_tag("bigleave.png", class: " bigleave d-md-block d-none" )%>
		</div>
		<div class="row no-gutters justify-content-center ">
			<%= image_tag("bar.png", class: "mt-3 mb-4 d-md-block d-none " )%>
			<%= image_tag("barmob.png", class: "mt-3 d-md-none d-block w-316 " )%>
		</div>
	</div>
	<div class="row no-gutters justify-content-center mt-5">
		<div class="text-center w-100 mt-3 mb-3" >
			<h6 class="taste">TASTY & CRUNCHY</h6>
			<h1 class="enjoy font-weight-bold">Choose & enjoy</h1>
			<h5 class="inspire text-muted">Inspired by recipes and creations of world’s best chefs</h4>
		</div>
		<div class="mt-md-5 mt-4 row px-5 mb-5">
			<div class="col-md-3 text-center mt-md-0 ">
				<%= image_tag("fruit1.jpg", class: " w-65 zoom" )%>
				<h5 class="appe">Gorgeous appetizers</h5>
				<p class="px-3 text-muted">Beetroot water spinach okra water chestnut ricebean pea.</p>
				<a href="#" class="border-bottom viewfull font-weight-bold">VIEW FULL MENU</a>
			</div>
			<div class="col-md-3 text-center mt-4 mt-md-0">
				<%= image_tag("fruit2.jpg", class: " w-65 zoom" )%>
				<h5 class="appe">Reinvented vegan meals</h5>
				<p class="px-3 text-muted">Water spinach arugula pea tatsoi aubergine spring onion.</p>
				<a href="#" class="border-bottom viewfull font-weight-bold">VIEW FULL MENU</a>
			</div>
			<div class="col-md-3 text-center mt-4 mt-md-0">
				<%= image_tag("fruit3.jpg", class: "  zoom w-65" )%>
				<h5 class="appe">Beatifull pasta</h5>
				<p class="px-3 text-muted">Dandelion zucchini burdock yarrow chickpea dandelion.</p>
				<a href="#" class="border-bottom viewfull font-weight-bold">VIEW FULL MENU</a>
			</div>
			<div class="col-md-3 text-center mt-4 mt-md-0">
				<%= image_tag("fruit4.jpg", class: " w-65 zoom" )%>
				<h5 class="appe">Gluten free meals</h5>
				<p class="px-3 text-muted">Chickweed okra pea winter purslane coriander yarrow.</p>
				<a href="#" class="border-bottom viewfull font-weight-bold">VIEW FULL MENU</a>
			</div>
		</div>
	</div>
	<div class="row no-gutters justify-content-center">
		<div class="text-center">
			<h1 class="hot">hot today!</h1>
			<h5 class="text-muted para">The minutes that usually takes to deliver!</h5>
			<%= image_tag("line.png", class: " " )%>
		</div>
	</div>
	<div class="row no-gutter mt-5">
		<div class="col-md-3 text-center">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("desi17.png", class: "  mb-3 h-265" )%>
				<h5>chicken karahi</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.23</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("des11.png", class: " mb-3  h-265" )%>
				<h5>B.B.Q Chicken</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.26</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("des16.png", class: " mb-3  h-265" )%>
				<h5>Spicy Biryani</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.25</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("des13.png", class: " mb-3 h-265 h-265" )%>
				<h5>Chicken Briyani</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.24</p>
			</div>
		</div>
	</div>
	<div class="row no-gutter mt-md-5">
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal11.jpg", class: " mb-3 h-265" )%>
				<h5>Burger Combo</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.22</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal14.jpg", class: " mb-3 h-265" )%>
				<h5>Vegetable Burger</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.27</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal8.jpg", class: " mb-3 h-265" )%>
				<h5>Pizza</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.28</p>
			</div>
		</div>
		<div class="col-md-3 text-center mt-5 mt-md-0">
			<div class="pb-3 mx-4 border roundborder">
				<%= image_tag("deal7.jpg", class: " mb-3 h-265" )%>
				<h5>Grill Burger</h5>
				<%= image_tag("star.png", class: " " )%>
				<p class="text-muted zoomer mt-2">£2.35-£5.29</p>
			</div>
		</div>
	</div>
</div>
<!-- whole page -->
<%= render 'layouts/footer' %>

	

