
<div class="row bg-white py-md-3 w-100 m-0">
    <div class="col-md-10 mx-auto px-0">
        <nav class="navbar navbar-expand-md navfamliy navbar-light px-0 p-0 ">
            <a href="<%= root_path%>" class="navbar-brand  text-white mx-auto"> <%= image_tag"newlogo.png", class: "w-18 logotop"%></a>
            <button type="button" class="navbar-toggler mr-4" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mx-auto ">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-dark mx-2" data-toggle="dropdown">Home</a>
                        <div class="dropdown-menu py-4 mx-4 text-dark " >
                            <a href="<%= root_path%>" class="dropdown-item ">Home</a>
                            <a href="<%= root_path%>" class="dropdown-item ">Home</a>
                            <a href="<%= root_path%>" class="dropdown-item ">Home</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-dark mx-2" data-toggle="dropdown">Deals</a>
                        <div class="dropdown-menu py-4 mx-4 text-dark">
                            <a href="<%= recipes_path%>" class="dropdown-item ">Deals Page</a>
                            <a href="<%= recipes_path%>" class="dropdown-item ">Deals Page</a>
                            <a href="<%= recipes_path%>" class="dropdown-item ">Deals Page</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-dark mx-2" data-toggle="dropdown">Gallery</a>
                        <div class="dropdown-menu py-4 mx-4 text-dark">
                            <a href="<%=pages_gallery_path%>" class="dropdown-item ">Pictures</a>
                            <a href="<%=pages_gallery_path%>" class="dropdown-item ">Pictures</a>
                            <a href="<%=pages_gallery_path%>" class="dropdown-item ">Pictures</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle text-dark mx-2" data-toggle="dropdown">About Us</a>
                        <div class="dropdown-menu py-4 mx-4 text-dark ">
                            <a href="<%=pages_about_path%>" class="dropdown-item ">About Us</a>
                            <a href="<%=pages_about_path%>" class="dropdown-item ">About Us</a>
                            <a href="<%=pages_about_path%>" class="dropdown-item ">About Us</a>
                        </div>
                    </div>
                </div>
                <form class="search ">
                    <input type="search" placeholder="">
                </form>
                <div class="navbar-nav ">
                    <a href="<%=new_recipe_path %>" class="nav-item nav-link mx-3 text-dark ">Sign In</a>
                </div>
            </div>
        </nav>
    </div>
</div>
